/* Variables for less*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #151515;
  line-height: 1.7;
}
body .primary-color {
  color: #3cafe6;
}
body .white-color-bg {
  background-color: #fff;
}
body .navbar-toggler {
  z-index: 1;
}
@media (max-width: 576px) {
  body nav > .container {
    width: 100%;
  }
}
body .carousel-item.active,
body .carousel-item-next,
body .carousel-item-prev {
  display: block;
}
/* Navigation */
@media (min-width: 767px) {
  .navbar {
    padding: 10px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #151515;
  }
}
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar a {
  font-weight: 400;
  size: 18px;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  color: #fff !important;
  padding: 5px;
  margin-right: 20px;
}
.navbar a:hover {
  color: #f47e4b !important;
  text-decoration: none;
}
.navbar .active {
  color: #3cafe6 !important;
}
.no-padding {
  padding: 0px !important;
}
.no-border {
  border: none !important;
}
.center-block {
  margin: 0 auto;
}
a:hover,
a:focus {
  color: #f47e4b;
  text-decoration: none !important;
  webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.heading {
  color: #151515;
  display: block;
}
.heading .heading-left {
  margin: 10px 0;
  width: 80%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
.heading .heading-center {
  position: relative;
  margin: 10px auto;
  width: 10%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h1 {
  color: #151515;
  display: block;
  font: 300 36px/36px 'Roboto', sans-serif;
}
h1 .heading-left {
  margin: 10px 0;
  width: 80%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h1 .heading-center {
  position: relative;
  margin: 10px auto;
  width: 10%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h2 {
  color: #151515;
  display: block;
  font: 300 30px/30px 'Roboto', sans-serif;
}
h2 .heading-left {
  margin: 10px 0;
  width: 80%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h2 .heading-center {
  position: relative;
  margin: 10px auto;
  width: 10%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h3 {
  color: #151515;
  display: block;
}
h3 .heading-left {
  margin: 10px 0;
  width: 80%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h3 .heading-center {
  position: relative;
  margin: 10px auto;
  width: 10%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
.tag-line {
  font: 300 24px/30px 'Roboto', sans-serif;
  color: #6b6b6b;
  display: block;
  padding: 0 0 5px 0;
}
.contact-section {
  border-top: solid #3cafe6 3px;
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: url("../images/bg-footer.jpg") no-repeat left top / cover;
}
.contact-section h4 {
  color: #fff;
  font-weight: 500;
}
.contact-section .footer-address-box {
  padding: 10px;
}
.contact-section .footer-address-box form p {
  color: #8b8b8b;
}
.contact-section .footer-address-box address {
  padding: 10px 5px;
  width: 300px;
  color: #fff;
}
.contact-section .footer-address-box address strong {
  padding: 0;
  font-weight: 400;
}
.contact-section .footer-address-box address i {
  font-size: 30px;
  margin: 0 20px 0 10px;
}
.contact-section .footer-address-box address ul li {
  padding: 10px;
  display: flex;
}
.contact-section .footer-address-box .icon-social {
  display: flex;
}
.contact-section .footer-address-box .icon-social i {
  margin: 5px 15px 0 0;
  color: white;
  font-size: 50px;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-section .footer-address-box .icon-social i:hover {
  color: #f47e4b;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section input[type="tel"] {
  float: left;
  width: 100%;
  border: 0;
  height: 55px;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: none;
}
.contact-section textarea {
  float: left;
  width: 100%;
  border: 0;
  height: 130px;
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: none;
  resize: none;
}
.contact-section input[type="submit"] {
  font: 400 16px/16px 'Roboto', sans-serif;
  text-align: center;
  padding: 20px 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: none;
  color: #3cafe6;
  border-color: #3cafe6;
  webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-appearance: button;
  cursor: pointer;
}
.contact-section input[type="submit"]:hover {
  border-color: #f47e4b;
  background-color: #f47e4b;
  color: #fff;
}
footer {
  border-top: solid #3cafe6 3px;
  color: #fff;
  background: rgba(0, 0, 0, 0.86);
  text-align: center;
  padding: 5px 0px ;
}
body {
  background-color: #fff;
}
section {
  padding: 40px 2px 40px 2px;
  min-height: 50vh;
}
section .card {
  margin: 10px 0px 10px 0px;
}
.about-section {
  background-color: #fff;
}
.services-section {
  background-color: #151515;
}
.leader-section {
  background-color: #f1f1f1;
}
.leader-section .card .card-img-top {
  width: 100%;
}
.leader-section h1 .heading-center {
  width: 50%;
}
.student-section {
  background-color: #3cafe6;
}
.student-section h1 {
  color: #fff;
  display: block;
}
.student-section h1 .heading-center {
  background-color: #f47e4b;
  width: 50% !important;
}
.student-section .owl-carousel .item .image-holder {
  max-height: 200px;
  overflow: hidden;
  line-height: 200px;
  min-width: 90px;
}
.student-section .owl-carousel .item .image-holder img {
  display: inline-block;
  vertical-align: middle;
  border-width: 2px 2px 2px 2px;
  border-color: #fff;
  border-style: solid;
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.student-section .owl-carousel .item:hover .image-holder img {
  webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 90px;
  height: 90px;
}
.student-section .owl-carousel .owl-item.center .item .image-holder img {
  width: 150px;
  height: 150px;
}
.student-section .owl-carousel .owl-dot span {
  background-color: #fff;
}
.student-section .owl-carousel .owl-dot.active span {
  background-color: #f47e4b;
}
.partners-section {
  background-color: #fff;
}
.partners-section .card .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.partners-section .card .card-img-overlay .card-footer {
  border: none;
  position: absolute;
  bottom: 0px;
  margin: 0 0 20px 0;
  padding: 0px;
}
