/* Variables for less*/
@primary-color:#efe939;

/* Body */
body {
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-weight: 400;
}
/* Icons*/
.icon {

}
.icon-md {
  font-size: 26px
}
.icon-social {
  color: white;
}
.icon-social:hover {
  color: @primary-color;
}

.text-bold {
  font-weight: 700;
}

footer {
  color: rgb(255, 255, 255);
  background: #3f3f3f;
  text-align: center;
  padding: 30px 0px ;
}

/* Sections*/
.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}

.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.services-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}

/* Media */
@media (min-width: 768px) {
  footer {
    padding: 20px 0px;
  }
}