/* Variables for less*/
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #151515;
  line-height: 1.7;
}
body .primary-color {
  color: #3cafe6;
}
body .navbar-toggler {
  z-index: 1;
}
@media (max-width: 576px) {
  body nav > .container {
    width: 100%;
  }
}
body .carousel-item.active,
body .carousel-item-next,
body .carousel-item-prev {
  display: block;
}
/* Navigation */
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #151515;
  }
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar a {
  font-weight: 400;
  size: 18px;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  color: #fff !important;
  padding: 5px;
  margin-right: 20px;
}
.navbar a:hover {
  color: #f47e4b !important;
  text-decoration: none;
}
.navbar .active {
  color: #3cafe6 !important;
}
a:hover {
  color: #f47e4b;
  text-decoration: none;
}
.no-padding {
  padding: 0px !important;
}
.no-border {
  border: none !important;
}
h1 {
  font: 300 36px/36px 'Roboto', sans-serif;
  color: #151515;
  display: block;
}
h1 .heading-left {
  margin: 10px 0;
  width: 80%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
h1 .heading-center {
  position: relative;
  margin: 10px auto;
  width: 10%;
  display: block;
  background-color: #3cafe6;
  height: 2px;
}
.contact-section {
  border-top: solid #3cafe6 3px;
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: url("../images/bg-footer.jpg") no-repeat left top / cover;
}
.contact-section h4 {
  color: #fff;
  font-weight: 500;
}
.contact-section .footer-address-box {
  padding: 10px;
}
.contact-section .footer-address-box form p {
  color: #8b8b8b;
}
.contact-section .footer-address-box address {
  padding: 10px 5px;
  width: 300px;
  color: #fff;
}
.contact-section .footer-address-box address strong {
  padding: 0;
  font-weight: 400;
}
.contact-section .footer-address-box address i {
  font-size: 30px;
  margin: 0 20px 0 10px;
}
.contact-section .footer-address-box address ul li {
  padding: 10px;
  display: flex;
}
.contact-section .footer-address-box .icon-social {
  display: flex;
}
.contact-section .footer-address-box .icon-social i {
  margin: 5px 15px 0 0;
  color: white;
  font-size: 50px;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-section .footer-address-box .icon-social i:hover {
  color: #f47e4b;
}
.contact-section input[type="text"] {
  float: left;
  width: 100%;
  border: 0;
  height: 55px;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: none;
}
.contact-section textarea {
  float: left;
  width: 100%;
  border: 0;
  height: 130px;
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: none;
  resize: none;
}
.contact-section input[type="submit"] {
  float: right;
  border: 1px solid;
  font: 400 16px/16px 'Roboto', sans-serif;
  text-align: center;
  padding: 20px 25px;
  text-transform: uppercase;
  position: relative;
  background: none;
  color: #3cafe6;
  border-color: #3cafe6;
  webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-appearance: button;
  cursor: pointer;
}
.contact-section input[type="submit"]:hover {
  border-color: #f47e4b;
  background-color: #f47e4b;
  color: #fff;
}
footer {
  border-top: solid #3cafe6 3px;
  color: #fff;
  background: rgba(0, 0, 0, 0.86);
  text-align: center;
  padding: 5px 0px ;
}
header {
  /* Slider */
  /*#upcoming-event {
    background-color: @white-color;
    .container-fluid {
      box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    }
    .left-shell,.right-shell {
      .transition(.5s);

      padding: 20px 0 30px 0;
      border-right: 1px solid #ebebeb;
      font-size: 18px;
      !*float: right;*!
      //width: 100%;
      display: flex;
      .icon {
        //width: 20%;
        font-size: 35px !important;
        padding: 0px 20px;
      }
      .text-shell {
        //width: 80%;
        h5 {
          color: @primary-color !important;
          font-weight: 700;
        }
        p {
          color: @grey-color;
        }
      }
      @media(min-width:767px) {
        height: 15vh;
        .container {
          padding: 3vh 0;
        }
      }
      &:hover {
        background-color: @dull-color;
        cursor: pointer;
      }
    }

  }*/
}
header .carousel-indicators {
  display: none;
}
header .carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
@media (min-width: 576px) {
  header .carousel-item {
    background-size: cover;
    height: 100vh;
  }
}
header .carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  left: 10%;
  right: 10%;
  bottom: 10px;
  padding: 10px 10px 10px 20px;
}
header a.button {
  border: solid #3cafe6 2px;
  padding: 10px 20px;
  font: 700 14px/14px 'Roboto', sans-serif;
  color: #3cafe6;
  text-decoration: none;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header a.button:hover {
  background-color: #f47e4b;
  color: white;
  border-color: #f47e4b;
}
/* Icons*/
.icon-md {
  font-size: 26px;
}
.text-bold {
  font-weight: 700;
}
/* Sections*/
.about-section {
  height: auto;
  padding-top: 80px;
  background: #fff;
}
.about-section .tag-line {
  font: 300 24px/30px 'Roboto', sans-serif;
  color: #6b6b6b;
  display: block;
  padding: 0 0 5px 0;
}
.about-section figure {
  border: solid #3cafe6 1px;
}
.about-section img {
  width: 100%;
}
.about-section h5 {
  color: #151515;
  font-weight: 700;
}
.about-items-section {
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  height: auto;
  background-color: #fff;
}
.about-items-section .card-title {
  font: 400 28px 'Roboto', sans-serif;
  color: #605f64;
  margin: 0 0 15px 0;
  display: block;
  text-align: center;
}
.about-items-section .card-block {
  margin-top: 20px;
  width: 100%;
}
.about-items-section .card-block .card-text {
  font: 400 16px/24px 'Roboto', sans-serif;
  color: #6b6b6b;
}
.about-items-section .card-block .card-link {
  color: #3cafe6 !important;
}
.about-items-section .card-block .card-link:hover {
  color: #f47e4b !important;
}
.about-items-section .about-icon {
  font-size: 50px;
  margin: 0 auto;
  border: #8b8b8b solid 2px;
  color: #3cafe6;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  line-height: 100px;
}
.about-items-section .about-icon i {
  webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.about-items-section .about-icon:hover i {
  font-size: 60px;
  color: #f47e4b;
}
.about-items-section .about-shell {
  padding: 30px 0px 20px 0px;
}
.about-items-section .about-item {
  display: flex;
  flex-direction: column;
}
.services-section {
  height: auto;
  padding-bottom: 50px;
  text-align: center;
}
.services-section .card {
  border: none;
}
.services-section .card-title {
  font-weight: 700;
  font-size: 25px;
  color: #151515;
  font-family: "Merriweather", "Times New Roman", Times, serif;
}
.services-section .card-text {
  font-size: 14px;
}
.services-section .card-link {
  font: 700 16px "Merriweather", "Times New Roman", Times, serif;
  color: #3cafe6;
  line-height: 1.2;
  letter-spacing: .05em;
  vertical-align: middle;
  transition: .22s;
}
.services-section .card-link:hover {
  color: #f47e4b !important;
}
.gallery-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
}
.gallery-section figure {
  /*width: 295px;
    height: 270px;*/
}
@media screen and (min-width: 540px) {
  .gallery-section figure {
    width: 300px;
    height: auto;
  }
}
.gallery-section figure:focus img,
.gallery-section figure:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery-section figure:hover img:before,
.gallery-section figure:focus img:before {
  display: block;
}
.gallery-section img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery-section img::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}
.gallery-section h1 {
  padding-bottom: 10px;
}
.events-section {
  height: auto;
  text-align: center;
  background: url(../images/parallex-event.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*.event-main {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    .shell {
      background-color: @white-color;
      height: 90%;

      @media (min-width: 576px) {

        padding: 10px;
        width: 315px;
      }
    }
  }*/
  /*.owl-carousel {
    .event {
      background-color: @secondary-color;
      margin: 10px;
      min-height: 200px;
    }
  }

  .owl-dot:hover > span, .owl-dot.active > span{
    background: #f47e4b !important;
  }*/
}
.events-section .events {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .events-section .events {
    min-height: 80vh;
  }
}
.events-section .events #view-all {
  float: right;
  font: 400 14px/14px 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 4px 0 0 0;
}
.events-section .events h1 {
  margin: 20px 0px;
}
.events-section .events .event {
  margin: 10px 0px;
  background-color: #fff;
  height: 165px;
}
.events-section .events .event .image-box {
  width: 100%;
  overflow: hidden;
}
.events-section .events .event .image-box img {
  width: 100%;
}
.events-section .events .event .image-box .date {
  padding: 4px 0;
  width: 90px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  font: 500 30px/30px 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
}
.events-section .events .event .image-box .date span {
  font-size: 14px;
}
.events-section .events .event .text-box {
  padding: 10px 5px 5px 10px;
}
.events-section .events .event .text-box a {
  font: 700 20px/20px 'Roboto', sans-serif;
  text-decoration: none;
  color: #605f64;
  display: block;
  padding: 0 0 15px 0;
  text-align: left;
}
.events-section .events .event .text-box span {
  font: 300 14px/14px 'Roboto', sans-serif;
  display: block;
  text-align: left;
  color: #6b6b6b;
  padding: 0 0 18px 0;
}
.events-section .events .event .text-box a.button {
  font: 700 14px/14px 'Roboto', sans-serif;
  float: right;
  color: #3cafe6;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 30px 0 0;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.events-section .events .event .text-box a.button:hover {
  color: #f47e4b;
}
.events-section .upcoming-event {
  border-top: solid #3cafe6 3px;
  padding: 100px 20px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.events-section .upcoming-event .shell {
  background-color: #fff;
  min-width: 320px;
  padding: 50px 10px;
}
.events-section .upcoming-event .shell .text-box h3 {
  text-align: center;
  color: #605f64;
  font: 700 20px/30px 'Roboto', sans-serif;
  padding: 0 0 10px 0;
}
.events-section .upcoming-event .shell .text-box .date {
  color: #3cafe6;
  display: block;
  text-align: center;
  font: 400 14px/14px 'Roboto', sans-serif;
  padding: 0 0 10px 0;
}
.events-section .upcoming-event .shell .text-box p {
  font: 400 16px/24px 'Roboto', sans-serif;
  color: #6b6b6b;
  margin: 0 0 20px 0;
  text-align: center;
  padding: 10px;
}
.events-section .upcoming-event .shell .text-box .button {
  border: 1px solid #3cafe6;
  font: 400 16px/16px 'Roboto', sans-serif;
  color: #3cafe6;
  text-align: center;
  padding: 20px 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 11;
  webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.events-section .upcoming-event .shell .text-box .button:hover {
  border-color: #f47e4b;
  background-color: #f47e4b;
  color: #fff;
}
.news-letter-section {
  border-top: solid #3cafe6 3px;
  padding: 20px 0;
  background: url("../images/parallex-subscribe.jpg");
  background-color: rgba(0, 0, 0, 0.8);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-letter-section .shell {
  padding: 10px 0 0 0;
}
.news-letter-section h4 {
  color: #3cafe6;
  font-weight: 500;
}
.news-letter-section p {
  font-size: 15px;
  padding: 5px;
  margin: 0 0 2px 0 !important;
  color: #fff;
}
.news-letter-section input,
.news-letter-section button {
  border-radius: 0;
}
.news-letter-section button {
  background-color: #151515;
  border-color: #3cafe6;
  color: #3cafe6;
  transition: background 0.4s, border-color 0.4s, color 0.4s;
}
.news-letter-section input[type="button"]:hover,
.news-letter-section button:hover {
  background-color: #f47e4b;
  border-color: #f47e4b;
  color: #fff;
  cursor: pointer;
}
/* My Gallery */
@media (min-width: 900px) {
  .my-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.my-gallery img {
  border-radius: 8px;
  width: 100%;
  height: 250px;
}
.eventpic {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  flex-grow: 1;
  flex-basis: 30%;
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.eventpic:hover .overlay {
  height: 25%;
}
.text {
  white-space: nowrap;
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
