/* Variables for less*/
//@primary-color:#efe939; Yellow
//@primary-color:#0275d8;
@primary-color:#3cafe6;
//@primary-color:#b9d126; Green
@secondary-color:#f47e4b;
//@secondary-color:#db5940; Dark Orange
//@primary-color:#acc4de; Bism Blue
//@secondary-color:#913909; Bism Brown
@black-color:#151515;
@white-color:#fff;
@dull-color:#f1f1f1;
@grey-color:#8b8b8b;
@min-size:320px;

body {
  width: 100%;
  height: 100%;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: #9b9b9b;
  line-height: 1.7;

}

a:hover {
  color: @secondary-color;
  text-decoration: none;
}
h1 {
  font-family: "Merriweather","Times New Roman",Times,serif;
  font-weight: 700;
  color: @black-color;
}
.no-padding {
  padding: 0px !important;
}

.no-border {
  border:none !important;
}

html {
  width: 100%;
  height: 100%;
}

.transition(@seconds){
  webkit-transition: all @seconds ease-in-out;
  -moz-transition: all @seconds ease-in-out;
  -ms-transition: all @seconds ease-in-out;
  -o-transition: all @seconds ease-in-out;
  transition: all @seconds ease-in-out;
}


header {
  /* Slider */
  .carousel-item {
    height: 85vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #upcoming-event {
    background-color: @white-color;
    .left-shell,.right-shell {
      .transition(.5s);
      padding: 20px 0 30px 0;
      border-right: 1px solid #ebebeb;
      font-size: 18px;
      /*float: right;*/
      //width: 100%;
      display: flex;
      .icon {
        //width: 20%;
        font-size: 35px !important;
        padding: 0px 20px;
      }
      .text-shell {
        //width: 80%;
        h5 {
          color: @primary-color !important;
        }
        p {
          color: @grey-color;
        }
      }
      @media(min-width:767px) {
        height: 15vh;
        .container {
          padding: 3vh 0;
        }
      }
      &:hover {
        background-color: @dull-color;
        cursor: pointer;
      }
    }

  }


}
/* Navigation */
@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.38);
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: @black-color;
  }
}

.navbar {

  a {
    font-weight: 400;
    size: 18px;
    font-family: "Merriweather", "Times New Roman", Times, serif;
    color: @white-color !important;
    padding: 5px;
    margin-right: 20px;
  }
  a:hover {
    color: @secondary-color !important;
    text-decoration: none;
  }
  .active {
    color: @primary-color !important;
  }
}

/* Icons*/
.icon-md {
  font-size: 26px
}

.text-bold {
  font-weight: 700;
}

/* Sections*/

.about-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: @dull-color;

  .about-icon {
    font-size: 20px;
    //background: @primary-color;
    border: @grey-color solid 2px;
    color: @primary-color;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    font-size: 34px;
    position: relative;
    line-height: 64px;
  }
  .about-shell {
    padding: 30px 0px 20px 0px;
  }
  .about-item {
    border-right: #e5e7e9 solid 1px;
  }
  h5 {
    color: #151515;
    font-weight: 700;
  }
}


.services-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: url("../images/parallex-services.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .services-shell {
    padding: 30px;
    background: #fff;
    color: #9b9b9b;
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.31);
  }
  .card {
    border: none;
  }
  .card-title {
    font-weight: 700;
    font-size: 25px;
    color: @black-color;
    font-family: "Merriweather", "Times New Roman", Times, serif;
  }
  .card-text {
    font-size: 14px;
  }
  .card-link {
    font: 700 16px "Merriweather","Times New Roman",Times,serif;
    color: @black-color;
    line-height: 1.2;
    letter-spacing: .05em;
    vertical-align: middle;
    transition: .22s;

  }
  .card-link:hover {
    color: @secondary-color !important;
  }
}

.gallery-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: @white-color;
  figure {
    /*width: 295px;
    height: 270px;*/

    @media screen and (min-width: 540px) {
      width: 300px;
      height: auto;
    }
    &:focus img,&:hover img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    &:hover img:before,
    &:focus img:before {
      display: block;
    }
  }
   img {
    width:100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
     &::before {
       content: "";
       display: none;
       height: 100%;
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       background-color: rgba(52, 73, 94, 0.75);
     }
  }


  h1 {
    padding-bottom: 10px;
  }

}

.events-section {
  height: auto;
  padding-top: 100px;
  text-align: center;
  background: @white-color;
  .owl-carousel {
    .event {
      background-color: @secondary-color;
      margin: 10px;
      min-height: 200px;
    }
  }

  .owl-dot:hover > span, .owl-dot.active > span{
    background: #f47e4b !important;
  }
  .news-letter {
    .shell {
      padding: 20px 0;
      background: url("../images/parallex-subscribe.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h4 {
      font-family: "Merriweather", "Times New Roman", Times, serif;
      color: @primary-color;
    }
    p {
      color: @white-color;
    }
    input,button {
      border-radius: 0;
    }
    button {
      background-color: @black-color;
      border-color: @black-color;
      color: @primary-color;
      transition: background 0.4s,border-color 0.4s,color 0.4s;
    }
    input[type="button"]:hover,button:hover{
      background-color: @secondary-color;
      border-color: @secondary-color;
      color: @white-color;
      cursor: pointer;
    }

  }
}

.contact-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: url("../images/bg-footer.jpg") no-repeat left top/cover;
  h4 {
    color: @white-color;
    font-weight: 500;
  }
  .footer-address-box {
    padding: 10px;
    form {
      p {
        color: #8b8b8b;
      }
    }
    address {
      padding: 10px 5px;
      width: 300px;
      color: @white-color;
      strong {
        padding: 0;
        font-weight: 400;
      }
      i {
        margin: 10px;
        font-size: 30px;
        position: absolute;
        left: 15px;
      }
      ul li {
        padding: 0 0 0 60px;
      }
    }
    .icon-social {
      color: white;
      font-size: 50px;
      .transition(.5s);
    }
    .icon-social:hover {
      color: @secondary-color;
    }
  }
  input[type="text"] {
    float: left;
    width: 100%;
    border: 0;
    height: 55px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: none;
  }
  textarea {
    float: left;
    width: 100%;
    border: 0;
    height: 130px;
    margin-bottom: 50px;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: none;
    resize: none;
  }
  // TODO Fix Position for mobile devices
  input[type="submit"] {
    float: right;
    border: 1px solid;
    font: 400 16px/16px 'Roboto', sans-serif;
    text-align: center;
    padding: 20px 25px;
    text-transform: uppercase;
    position: relative;
    background: none;
    color: @primary-color;
    border-color: @primary-color;
    webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-appearance: button;
    cursor: pointer;
    &:hover {
      border-color: @secondary-color;
      background-color: @secondary-color;
      color:@white-color;
    }
  }

}
footer {
  color:@white-color;
  background: @primary-color;
  text-align: center;
  padding: 5px 0px ;
}